body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-image: url("../images/robots.png");
    background-repeat: repeat;
}

.jumbotron{
    margin-top: 25px;
    padding: 2em 2rem;
}

img {
    height: 250px;
    width: auto;
}

.text-muted{
	color: blue;
}

.last-seconds{
    color: red;
}

.choices{
    text-align: center;
}

.row {
    justify-content: center;    
}

.option{
    margin: 15px;
}

footer {
    position: absolute;
    padding: 10px;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    color: #cccccc;
    text-align: center;
    background: #393a5c;
}